
<div class="desc">
  <ul>
    <li>左側から社員を選択してください。</li>
    <li><%= fa_icon 'lightbulb-o', class: 'orange' %> の社員はスライドがあります。</li>
    <li>各社員ページの右上の <%= fa_icon 'file-powerpoint-o', class: 'orange' %> をクリックするとスライドを見ることができます。( <%= fa_icon 'file-powerpoint-o', class: 'orange loading' %> : loading )</li>
    <li>スライドを見るにはenechangeアカウントでログインしている必要があります。</li>
  </ul>
</div>
<div class="desc desc_add">
  <p> Staffの追加・編集 </p>
  <%= form_tag('/spreadsheet', :method => :post) do %>
    <ul>
      <li><a href="https://docs.google.com/spreadsheets/d/1o53mGae2Y5fuqXlCJIMGK3uN_Nkn2cTDEKLzz8asty0/edit#gid=0">こちら</a>のスプレッドシートに記入してください。</li>
      <li>スライドは<a href="https://docs.google.com/presentation/d/1NKVXOBMYpLvXbSF9pWLWyl1OM1PenUpap7DRcAHCQcM/edit#slide=id.p">こちら</a>に追加し、urlの末尾のslide id(g*****)をスプレッドシートに記入してください。</li>
      <li><%= submit_tag "反映" %> (←クリックしてください。)</li>
    </ul>
  <% end %>
</div>
<div class="images">
  <% @staffs.each do |staff| %>
    <% if staff[:image].present? %>
      <a href="/staff/<%= staff[:id] %>">
        <img src="http://enechange.co.jp/image/pc__staff_photo_<%= staff[:image] %>.jpg">
      </a>
    <% end %>
  <% end %>
</div>
