<!DOCTYPE html>
<html>
  <head>
    <title>さぁーち。</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <a href="/" class="logo"></a>
      <div class="site_title beta">さぁーち。</div>
    </div>
    <% if controller.controller_name != 'sessions' %>
      <%= render 'layouts/side_nav' %>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
